.form-background{
    background: #fafaf7;
    border-radius: 10px;
    max-width: 50%;
    margin: auto;
    line-height: 1.5rem;
}

.form-background input {
    display: block;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    height: 2.5rem;
    border: 2px solid #dadada;
    border-radius: 7px;
    font-weight: bolder;
}

.form-background input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

form p{
    margin-top: 1rem;
}

.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

@media (max-width: 800px) {
    .form-background{
        @media (max-width: 800px) {
            max-width: 100%;
        }
    }

    .form-background input {
        width: 100%;
    }
}