/* You can add global styles to this file, and also import other style files */
.main-wrapper{
    max-width: 1400px;
    padding: 10px;
    margin: auto;
}

:root {
    --primary-color: #99b8f7;
    --primary-hover: #bed2fa;
    --secondary-color: #a6ecfa;
    --secondary-hover: #73d4e8;
  }

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center-text{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

nav{
    background-color: var(--primary-color);
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    color: black;
    padding: 1rem 4rem;
    font-weight: bolder;
}

.navbar-links li:hover {
    background-color: var(--primary-hover);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* PADDINGS Y MARGINS */

.padding-top-lg{
    padding: 5em;
}

.padding-bottom-lg{
    padding: 5em;
}

.padding-lg{
    padding: 3rem;
}

.padding-md{
    padding: 2rem;
}

/* END PADDING/MARGINS*/

/* CARDS BEGIN*/
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* This is so we don't collide with bootstraps .card class*/
.card{
    min-width: 300px;
    max-width: 300px;

    min-height: 300px;
    max-height: 300px;

    padding: 20px;
    margin: 10px;
    overflow: auto;
    background-color: var(--secondary-color);
    border-radius: 5px;
    font-weight: bolder;
    line-height: 2rem;
    overflow: scroll;
}

/*
@media (max-width: 800px) {
    .card-container{
        flex-direction: column;
        align-items: center;
    }
}
*/

/* CARDS END */





/* BOTONES */

.my-button-primary{
    padding: 1rem;
    margin: 10px auto;
    border-radius: 7px;
    background-color: var(--secondary-color);
    border: none;
    font-weight: bolder;
}

.my-button-primary:hover{
    background: var(--secondary-hover);
    cursor: pointer;
}


/* BOTONES END*/