{% extends 'users/main_layout.html' %} 
{% block title %} Home {% endblock title %} 
{% block body %}
<div>
    <h1 class="padding-lg">¡Bienvenidos a XTraders! Una plataforma en línea de
        Trueques para litarlmente cualquier cosa ...
    </h1>

    <div class="card-container">
        <div class="card">
            ¡Intercambia tus conocimientos y adquiere nuevos!
        </div>

        <div class="card">
            Intercambia servicios con otros miembros.
        </div>

        <div class="card">
            ¡Intercambia productos materiales con los demás!
        </div>

        <div class="card">
            ¡Ayuda al medio ambiente!
        </div>
    </div>
</div>
{% endblock body %}